h1 {
    background-color: #5891B1;
    color: #E5E7E9;
    padding: 0.75em;
    font-family: brandon grotesque, sans-serif;
    font-size: 350%;
    text-align: center;
}

h2 {
    color: #5891B1;
    padding: 0.5em;
    font-family: brandon grotesque, sans-serif;
    font-size: 200%;
    text-align: center;
}

h3 {
    margin-top: 0.5em;
    color: #5891B1;
    font-family: brandon grotesque, sans-serif;
    font-size: 145%;
}

p {
    padding: 0.5em;
    margin-top: 0.5em;
    color: #0C437B;
    font-family: brandon-grotesque, sans-serif;
    font-size: 100%;
}
